#section{
    border: solid 3px gray;
    width: 480px;
    margin: 30px auto;
}

#calculator{
    display: inline-block;
    width: 50%;
    margin: 15px 25%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
}

table{
    width: 100%;
}

table td{
    width: 40px;
    height: 60px;
    /* cursor: pointer; */
}

td button{
    width: 100%;
    height: 100%;
    cursor: pointer;
}